# Normalize to LF in the repo on commit; check out with the OS-native EOL.
* text=auto

bin/init-template/LEEME.md.tpl -text
test/fixtures-init/templates/LEEME.out -text
test/fixtures-init/templates/LEEME.tpl -text
